.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.body {
    top: 0;
    left: 0;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 1000;
  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
   padding: 20px;
}

.navbar li a:hover {
    background-color: #ffffff;
}