/* Sidebar updates */
.updates{
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px #888888;
    transition: 1s;
}

.updates a {
    text-decoration: none;
    color: black;
}

.updates h4 {
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}

.updates h5 {
    font-size: 18px;
    padding-left: 8px;
    text-decoration: none;
}

.updates h6 {
    font-size: 18px;
    padding-left: 8px;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}

.updates h6:hover {
    background-color: #333;
    color: white;
    transition: 1s;
    border-radius: 3px;
}

/*
.updatelink:hover {
    background-color: #333;
    transition: 1s;
}*/



/* Tabs */
.tabs {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

/*Individual Tabs */
.tabcontent h3 {
    font-size: 32px;
    text-align: center;
}
.tabcontent p{
    font-size: 18px;
    padding-left: 18px;
}

.tabcontent h4 {
    font-size: 24px;
    padding-left: 18px;
}

.tabcontent li {
    font-size: 18px;
    padding-left: 18px;
}

/*Skill-based tab*/
.unit1, .unit2, .unit3 {
    float: left;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 15px;
    box-shadow: 5px 5px #888888;
    border-radius: 5px;
    width: 45%;
}

.list h5 {
font-size: 20px;
margin-left: 15px;
margin-bottom: 0px;
}

/*Buttons */
.useButton{
    padding: 20px;
    box-shadow: 7px 7px #888888;
    border-radius: 10px;
    text-align: center;
}

.useButton h4 {
    text-decoration: none;
}
